* {
    box-sizing: border-box;
  }

  body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .top{
    max-width: 375px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    margin-bottom: 22px;
    position: fixed;
    top: 0;
    left:0;
  }

  .top > img{
    width: 75px;
    height: 53px;
  }

  .top-icon{
    font-size: 42px;
    padding-right: 21px;
  }

  .main{
    max-width: 375px;
    width: 100%;
    max-height: 407px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
    padding-top: 100px;
    overflow-y: scroll;
  }

  .chat-message{
    max-width: 375px;
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;    
    border-radius: 2px;
    margin-top: 4px;
    padding: 4px;
  }

  .chat-message p{
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    word-break: break-word;
    white-space: normal;
  }

  .username{
    font-weight: 700;
  }
  .receiver{
    font-weight: 700;
  }

  .gray{
    background-color: #DCDCDC;
  }

  .white{
    background-color: #FFFFFF;
  }
  .red{
    background-color: #FFDEDE;
  }

  .time{
    color: #AAAAAA;
  }

  .bottom{
    max-width: 375px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 1;
    left: 0;
  }

  .type-message{
    width: 320px;
    height: 40px;
    padding-left: 10px;
  }

  textarea{ 
   width: 100%;
   height: 50px;
   font-size: 18px;
   outline: none;
   resize: none;
  }

  textarea::placeholder {
    color: black;  
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
  }

  .message-icon{
    font-size: 26px;
    padding-right: 20px;
    cursor: pointer;
  }


  /* Outter Layer */

  .hidden{
    display: none;
  }

  .dog400 img{
    max-width: 375px;
    max-height: 667px;
    position: absolute;
    bottom: 150px;
    left: 0;
    z-index: 40;
  }

  .layer{
    max-width: 375px;
    width: 100%;
    max-height: 667px;
    height: 100%;
    background-color: #FFFFFF;
    position:fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
  }

  .login{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 50px;
  }

  .outter-logo{
    padding: 0 0 90px 60px;
  }
  
  .outter-logo img{
    width: 130px;
    height: 92px;
  }

  .type-username{
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #FFFFFF;
    inset: 1px solid #D7D7D7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .type-username ::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #AEAEAE;
  }

  .enter{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;
    font-size: 18px;
    font-weight: 400;
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 0 60px;
   }

   input{
    outline: none;
   }

  

 